body{
  background-color: #fdfab0;

  background-image: url("imagens/logoavengers24.png");
#fdfab0

}



.logo{

  width: 1334px;
  height: 101px;  
  background-color: #1b0e8e;
  margin-top: -8px;
  margin-left: -4px;

  border-style: ridge;

  border-width: 3px;
}

.logo img{

  width: 1334px;
  height: 100px;
}



.corpo1{
  display: inline-block;
 width: 1334px;
 background-color: ;
  
  }



.letras{

  width: 400px;
  height: 450px;
  background-color: ;
  float:  left;
 

}

.letraspreborda{
width: 370px;
height: 50px;
border-style: ridge;
border-radius: 20%;
border-width: 6px;
background-color:#e3d757;
background-image: url("imagens/palavraavengersunicaparatres3.png");
margin-top:14px;
margin-left: -6px;

}
.containerletraspre{
  
}

.containerletraspre img{
  margin-left: 165px;

  margin-top: 0px;
  width: 50px;
  height: 50px;
}




.letrasborda{
  transform: scaleY(0.90);
margin-top: 2.2px;
margin-left: -6px;
width: 370px;
height: 417px;
border-style: ridge;
border-radius: 10%;
border-width: 6px;
background-image: url("imagens/escudo.png");
background-color: #e3d757;
}


.letrasborda img{

width: 66px;
  height: 66px;
}





.containerletras{


  margin-left: 12px;
}

.letraslinha6{
  margin-left: 141px;
}






.meio{
  margin-top: 2px;
margin-left: -21.02px;
float: left;
width: 660px;
height: 500px;

border-style: ridge;
border-radius: 10%;
border-width: 12px;
background-image: url("imagens/meiotemplate.png");
background-color: #fada03;
}

.containerfrases{

 transform: scaleY(1); 
 margin-top: 28px; 

 
}


.containerfraseaa{
  display: inline-block;


 
 
  margin-left: 246px;
  margin-top: -8px;
}





.containeraa{
  position: relative;
  width: 135px;
  height: 90px;
float: left;
  background: ;
}

.afaa{
  width: 660px;
  height: 21.6px;
  margin-left: -4px;
  margin-top: -15px;
}

.afaa  img{
  width: 21.6px;
  height: 21.6px;
  margin-left: -4px;
  margin-top: -21px;
}

#animaraa{
 
  margin-left: 75px;
  margin-top: -145px;
  padding-top: -60px;
}

.caixaaa {
  width: 135px;
  height: 90px;
  
}

.caixaaa img{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 45px;
  -webkit-animation: scale 1.3s;
  animation: scale 1.3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
 }
@keyframes scale {
    0%   {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    }
    50%  {
    --webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    
  transform: scale(1.3);

    }
 100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
   transform: scale(1);
    }
}


.containerfraseae{
  display: inline-block;
  margin-left: 246px;
  background: ;
}


.containerae{
  position: relative;
  width: 660px;
  height: 90px;
float: left;
  background: ;
}

.afae{
  width: 660px;
  height: 21.6px;
  margin-left: -4px;
  margin-top: -15px;
}

.afae  img{
  width: 21.6px;
  height: 21.6px;
  margin-left: -4px;
  margin-top: -21px;
}

#animarae{
 
  margin-left: 75px;
  margin-top: -145px;
  padding-top: -60px;
}

.caixaae {
  width: 135px;
  height: 90px;
  
}

.caixaae img{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 45px;
  -webkit-animation: scale 1.3s;
  animation: scale 1.3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
 }
@keyframes scale {
    0%   {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    }
    50%  {
    --webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    
  transform: scale(1.3);

    }
 100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
   transform: scale(1);
    }
}




.containerfraseai{
  display: inline-block;


 
 
  margin-left: 246px;
  margin-top: -8px;
}



.containerai{
  position: relative;
  width: 660px;
  height: 90px;
float: left;
  background: ;
}

.afai{
  width: 660px;
  height: 21.6px;
  margin-left: -4px;
  margin-top: -15px;
}

.afai  img{
  width: 21.6px;
  height: 21.6px;
  margin-left: -4px;
  margin-top: -21px;
}

#animarai{
 
  margin-left: 75px;
  margin-top: -145px;
  padding-top: -60px;
}

.caixaai {
  width: 135px;
  height: 90px;
  
}

.caixaai img{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 45px;
  -webkit-animation: scale 1.3s;
  animation: scale 1.3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
 }
@keyframes scale {
    0%   {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    }
    50%  {
    --webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    
  transform: scale(1.3);

    }
 100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
   transform: scale(1);
    }
}




.containerfraseao{
  display: inline-block;
  margin-left: 246px;
  background: ;
}


.containerao{
  position: relative;
  width: 660px;
  height: 90px;
float: left;
  background: ;
}

.afao{
  width: 660px;
  height: 21.6px;
  margin-left: -4px;
  margin-top: -15px;
}

.afao  img{
  width: 21.6px;
  height: 21.6px;
  margin-left: -4px;
  margin-top: -21px;
}

#animarao{
 
  margin-left: 75px;
  margin-top: -145px;
  padding-top: -60px;
}

.caixaao {
  width: 135px;
  height: 90px;
  
}

.caixaao img{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 45px;
  -webkit-animation: scale 1.3s;
  animation: scale 1.3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
 }
@keyframes scale {
    0%   {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    }
    50%  {
    --webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    
  transform: scale(1.3);

    }
 100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
   transform: scale(1);
    }
}

.containerfraseau{
  display: inline-block;


 
 
  margin-left: 246px;
  margin-top: -8px;
}



.containerau{
  position: relative;
  width: 660px;
  height: 90px;
float: left;
  background: ;
}

.afau{
  width: 660px;
  height: 21.6px;
  margin-left: -4px;
  margin-top: -15px;
}

.afau  img{
  width: 21.6px;
  height: 21.6px;
  margin-left: -4px;
  margin-top: -21px;
}

#animarau{
 
  margin-left: 75px;
  margin-top: -145px;
  padding-top: -60px;
}

.caixaau {
  width: 135px;
  height: 90px;
  
}

.caixaau img{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 45px;
  -webkit-animation: scale 1.3s;
  animation: scale 1.3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
 }
@keyframes scale {
    0%   {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    }
    50%  {
    --webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    
  transform: scale(1.3);

    }
 100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
   transform: scale(1);
    }
}





.containernumeros{
}
.numeros{
  margin-top: 4.495px;
   width: 100px;
  height: 450px;
 
  float:  left;
}

.numerosanteborda{

}

.numerosborda{
margin-left: 3px;
margin-top: 3px;
width: 263px;
height: 414px;
border-style: ridge;
border-radius: 10%;
border-width: 6px;
background-color: ;
transform: scaleX(0.98);
transform: scaleY(1.03);
background-image: url("imagens/manopla.png");
background-color: #e3d757;
}
.numeros img{
  margin-left: 2px;
  margin-top: 1.5px;
  width: 47px;
  height: 47px;
  

}



.skins{
width: 263px;
height: 48px;
border-style: ridge;
border-radius: 20%;
border-width: 6px;
background-color:#e3d757;
background-image: url("imagens/logomarvel88.png");
float: left;
margin-top: 29px;
margin-left: 3px;
display: inline-flex;
}




.botaoskins{

  margin-left: 6px;
  margin-top: 1px;
  width: 60px;

}

.skinazul {
  
margin-left: -2px;
margin-top: 0px;
transform: scale(0.7);
  
}

.skinverdefraco {
  
margin-left: 0px;
margin-top: 0px;
transform: scale(0.7);
}

.skinverdeforte {
  
  margin-left: 0px;
margin-top: 0px;
transform: scale(0.7);
}

.skinamarelo {
  
  margin-left: 0px;
margin-top: 0px;
transform: scale(0.7);
}




